<div class="formcontainer">
<form action="/contact" method="post">
<ul><li><label for="sender_name">Name: </label>
    <input type="text" name="sender_name" <%= "value='#{@name}'" %> /></li>
  <li><label for="sender_email">Email: </label>
    <input type="text" name="sender_email" <%= "value='#{@email}'" %>></li>
  <li><label for="subject">Subject: </label>
    <input type="text" name="subject" <%= "value='#{@subject}'" %>></li>
</ul>
<textarea name="message" columns=40 rows=10 ><%= @message %></textarea><br />
<ul><li><input type="submit" value="Submit"></li></ul>
</form>
<% if @sent == true %>
  <%= "<p class='success'>Message sent successfully.</p>" %>
<% elsif @sent == false %>
  <%= "<p class='failure'>Message could not be sent.</p>" %>
<% end %>
<p>Email address is optional, but please include some sort of contact info if you'd like a response. Since this website does
 not (yet) have an SSL certificate, do not include sensitive information.</p>
</div>

<% content_for :title do %>
  Contact
<% end %>
